<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Employee Name Column -->
  <ng-container matColumnDef="employeeName">
    <th mat-header-cell *matHeaderCellDef>
      {{ "REQUEST_TIME_OFF.EMPLOYEE_NAME" | translate }}
    </th>
    <td mat-cell *matCellDef="let element">{{ element.employeeName }}</td>
  </ng-container>

  <!-- Leave Type Column -->
  <ng-container matColumnDef="leaveType">
    <th mat-header-cell *matHeaderCellDef>
      {{ "REQUEST_TIME_OFF.LEAVE_TYPE" | translate }}
    </th>
    <td mat-cell *matCellDef="let element">
      {{ "REQUEST_TIME_OFF.LEAVE_TYPES." + element.leaveType | translate }}
    </td>
  </ng-container>

  <!-- Leave From Column -->
  <ng-container matColumnDef="leaveFrom">
    <th mat-header-cell *matHeaderCellDef>
      {{ "REQUEST_TIME_OFF.LEAVE_FROM" | translate }}
    </th>
    <td mat-cell *matCellDef="let element">{{ element.leaveFrom }}</td>
  </ng-container>
  <!--TODO dodać kolumne Leave To-->
  <!-- Leave From Column -->

  <!-- Days Type Column -->
  <ng-container matColumnDef="days">
    <th mat-header-cell *matHeaderCellDef>
      {{ "REQUEST_TIME_OFF.DAYS" | translate }}
    </th>
    <td mat-cell *matCellDef="let element">{{ element.days }}</td>
  </ng-container>

  <!-- Status Type Column -->
  <ng-container matColumnDef="statusEmployee">
    <th mat-header-cell *matHeaderCellDef>
      {{ "REQUEST_TIME_OFF.STATUS" | translate }}
    </th>
    <td mat-cell *matCellDef="let element">{{ element.statusEmployee }}</td>
  </ng-container>

  <!-- Details Type Column -->
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <!--      TODO: dostosowac szerokosc pod polską nazwę-->
      <button mat-stroked-button id="button-edit">
        {{ "REQUEST_TIME_OFF.BUTTON.EDIT" | translate }}
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
