app-request-time-off {
  .mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }

  button#button-edit {
    color: var(--main-color);
    border: 1px solid var(--color-9);
    border-radius: 10px;
  }

  button#button-details {
    width: 124px;
  }

  button#button-more {
    padding-block: 0;
    padding-inline: 0;
    min-width: 28px;

    mat-icon.mat-icon.notranslate.material-icons.mat-ligature-font.mat-icon-no-color {
      margin: 0 2px 0 0;
    }
  }

  th.mat-mdc-header-cell.mdc-data-table__header-cell.cdk-header-cell.cdk-column-details.mat-column-details,
  td.mat-mdc-cell.mdc-data-table__cell.cdk-cell.cdk-column-details.mat-column-details {
    padding-right: 0;
    width: 136px;
  }

  tr.mat-mdc-header-row.mdc-data-table__header-row.cdk-header-row {
    background-color: var(--color-9) !important;
    height: 36px;
  }
}
