<div class="toolbar-left">
  <div class="toolbar top">
    <div class="logo">HR</div>
    <div class="avatar">Avatar</div>
  </div>
  <div class="toolbar middle">
    <div class="menu-element">
      <a routerLink="/dashboard" routerLinkActive="active">
        <span class="material-symbols-outlined">dashboard</span>
        <div class="element-title">Dashboard</div>
      </a>
    </div>
    <div class="menu-element">
      <a routerLink="/staffList" routerLinkActive="active">
        <span class="material-symbols-outlined">list_alt</span>
        <div class="element-title">Staff List</div>
      </a>
    </div>
    <div class="menu-element">
      <a routerLink="/usersCirculars" routerLinkActive="active">
        <span class="material-symbols-outlined">run_circle</span>
        <div class="element-title">User Circulars</div>
      </a>
    </div>
    <div class="menu-element">
      <a routerLink="/notes" routerLinkActive="active">
        <span class="material-symbols-outlined">description</span>
        <div class="element-title">Notes</div>
      </a>
    </div>
    <div class="menu-element">
      <a routerLink="/docsManagement" routerLinkActive="active">
        <span class="material-symbols-outlined">folder</span>
        <div class="element-title">Docs Management</div>
      </a>
    </div>

  </div>
  <div class="toolbar bottom">
    <div class="menu-element">
      <a routerLink="/setting" routerLinkActive="active">
        <span class="material-symbols-outlined">settings</span>
        <div class="element-title">Setting</div>
      </a>
    </div>
    <div class="menu-element">
      <a routerLink="/login" routerLinkActive="active">
        <span class="material-symbols-outlined">logout</span>
        <div class="element-title">Logout</div>
      </a>
    </div>
  </div>
</div>
