:host {
  display: flex;
}
.sidebar-left {
  width: var(--toolbar-left-width);
  height: auto;
  border-right: 1px solid var(--toolbar-left-border);
  display: grid;
  grid-template-rows: 120px auto 120px;

  .sidebar {
    margin: 10px 0 0 10px;

    .logo {
      font-size: 40px;
      font-weight: 500;
    }
  }

  .logo {
    padding: 0 0 10px 0;
  }

  .menu-element {
    padding: 6px 6px 6px 6px;
    font-size: 16px;
  }

  .menu-element a {
    padding: 6px;
    display: grid;
    grid-template-columns: 50px auto;
    text-decoration: none;
    color: var(--main-color);

    .element-title {
      padding-top: 3.5px;
    }
  }
}
