<div class="sidebar-left">
  <div class="sidebar top">
    <div class="logo">HR</div>
    <a routerLink="/user/edit" routerLinkActive="active">
      <div class="avatar">Avatar</div>
    </a>
  </div>
  <div class="sidebar middle">
    <div class="title-menu">{{ "SIDEBAR.MAIN_MENU" | translate }}</div>
    <div class="menu-element">
      <a routerLink="/dashboard" routerLinkActive="active">
        <mat-icon class="material-symbols-outlined" id="dashboard-icon"
          >dashboard</mat-icon
        >
        <div class="element-title">{{ "SIDEBAR.DASHBOARD" | translate }}</div>
      </a>
    </div>
    <div class="menu-element">
      <a routerLink="/staffList" routerLinkActive="active">
        <mat-icon class="material-symbols-outlined" id="staff_list-icon"
          >list_alt</mat-icon
        >
        <div class="element-title">{{ "SIDEBAR.STAFF_LIST" | translate }}</div>
      </a>
    </div>
    <div class="menu-element">
      <a routerLink="/employee" routerLinkActive="active">
        <mat-icon class="material-symbols-outlined" id="groups-icon"
          >groups</mat-icon
        >
        <div class="element-title">{{ "SIDEBAR.EMPLOYEE" | translate }}</div>
      </a>
    </div>
  </div>
  <div class="sidebar bottom">
    <div class="title-menu">{{ "SIDEBAR.OTHER" | translate }}</div>
    <div class="menu-element">
      <a routerLink="/setting" routerLinkActive="active">
        <mat-icon class="material-symbols-outlined" id="settings-icon"
          >settings</mat-icon
        >
        <div class="element-title">{{ "SIDEBAR.SETTINGS" | translate }}</div>
      </a>
    </div>
    <div class="menu-element">
      <a routerLink="/login" routerLinkActive="active">
        <mat-icon class="material-symbols-outlined" id="logout-icon"
          >logout</mat-icon
        >
        <div class="element-title">{{ "SIDEBAR.LOGOUT" | translate }}</div>
      </a>
    </div>
  </div>
</div>
