@use "@angular/material" as mat;

@include mat.core();

$my-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
    ),
  )
);

html {
  @include mat.all-component-themes($my-theme);
}
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  //font-family: Roboto, "Helvetica Neue", sans-serif;
  font-family: "Inter", sans-serif;
}

// color of the page
:root {
  --toolbar-left-width: 300px;

  --main-color: #000000;

  --color-1: #3c41e9;
  --color-2: #12a779;
  --color-3: #ffa40a;
  --color-4: #913af6;
  --color-5: #427ddc;
  --color-6: rgba(0, 87, 255, 0.11);
  --color-7: #f2f3f5;
  --color-8: #ffffff;
  --color-9: rgba(0, 0, 0, 0.1);
  --color-10: rgba(0, 0, 0, 0.36);
  --color-11: #a71212ff;
  --color-12: #ee636383;

  //
  --mat-form-field-container-vertical-padding: 0px;
  --mat-form-field-filled-with-label-container-padding-top: 16px;
  --mat-tab-header-active-focus-label-text-color: rgb(0, 87, 255);
}

html,
body {
  height: 100%;
  max-height: 100dvh;
  background-color: var(--color-7);
}

.active {
  border-radius: 6px;
  background-color: var(--color-6);
}

.active mat-icon#dashboard-icon,
.active mat-icon#staff_list-icon,
.active mat-icon#groups-icon,
.active mat-icon#settings-icon,
.active mat-icon#logout-icon {
  color: var(--color-1);
}
.active div {
  color: var(--color-1);
}

mat-icon#emp-icon {
  font-size: 40px;
  padding: 6px;
  height: 36px;
  width: 40px;
}

input::placeholder {
  color: var(--color-10) !important;
  opacity: 1; /* Firefox */
}

input::-ms-input-placeholder {
  /* Edge 12-18 */
  color: var(--color-10) !important;
}

select {
  font-family: "Inter", sans-serif;
}

select:focus-visible {
  outline: transparent auto 1px;
}

.mat-mdc-table {
  background-color: transparent !important;
  box-shadow: none;
  .mat-mdc-header-cell {
    &:first-child {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
    &:last-child {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
}

mat-icon#manage-icon,
mat-icon#request-icon {
  margin: 6px !important;
}
