@use '@angular/material' as mat;

@include mat.core();

$my-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
  ),
));

html {
  @include mat.all-component-themes($my-theme);
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// color of the page
:root{
  --main-color: #000000;
  --button-color: rgba(0, 87, 255, 0.54);
  --button-text: #ffffff;

  --toolbar-background-element-color: rgba(0, 87, 255, 0.11);
  --toolbar-element-color: rgb(0, 87, 255);
  --toolbar-left-border: rgba(0, 0, 0, 0.1);

  //toolbar-left width
  --toolbar-left-width: 300px;
  --mat-form-field-container-vertical-padding: 0px;
}

html, body {
  height: 100dvh;
  max-height: 100dvh;
  overflow: hidden;
}

.active {
  border: solid 1px var(--button-color);
  border-radius: 6px;
  background-color: var(--toolbar-background-element-color);
}

.active span {
  color: var(--toolbar-element-color);
}
.active div {
  color: var(--toolbar-element-color);
}
