@use "@angular/material" as mat;

@include mat.core();

$my-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
    ),
  )
);

html {
  @include mat.all-component-themes($my-theme);
}
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  overflow-y: hidden;
}
body {
  margin: 0;
  //font-family: Roboto, "Helvetica Neue", sans-serif;
  font-family: "Inter", sans-serif;
}

// color of the page
:root {
  --toolbar-left-width: 300px;

  --main-color: #000000;

  //--color-3: #ffa40a;
  //--color-4: #913af6;

  --button-app-color: #3c41e9;
  --positive-element: #12a779;
  --color-3: #ffa40a;
  --color-4: #913af6;
  //--border-element: #427ddc;
  --background-element: rgba(0, 87, 255, 0.11);
  --background-app-color: #f2f3f5;
  --main-color-text: #ffffff;
  --border-app-element: rgba(0, 0, 0, 0.1);
  --input-placeholder-color: rgba(0, 0, 0, 0.36);
  --negative-element: #a71212ff;
  --negative-border: #ee636383;

  //
  --mat-form-field-container-vertical-padding: 0px;
  --mat-form-field-filled-with-label-container-padding-top: 16px;
  --mat-tab-header-active-focus-label-text-color: rgb(0, 87, 255);
}

html,
body {
  height: 100%;
  max-height: 100dvh;
  background-color: var(--background-app-color);
}

.active {
  border-radius: 6px;
  background-color: var(--background-element);
}

.active mat-icon#dashboard-icon,
.active mat-icon#staff_list-icon,
.active mat-icon#groups-icon,
.active mat-icon#settings-icon,
.active mat-icon#logout-icon {
  color: var(--button-app-color);
}
.active div {
  color: var(--button-app-color);
}

mat-icon#emp-icon {
  font-size: 40px;
  padding: 6px;
  height: 36px;
  width: 40px;
}

input::placeholder {
  color: var(--input-placeholder-color) !important;
  opacity: 1; /* Firefox */
}

input::-ms-input-placeholder {
  /* Edge 12-18 */
  color: var(--input-placeholder-color) !important;
}

select {
  font-family: "Inter", sans-serif;
}

select:focus-visible {
  outline: transparent auto 1px;
}

.mat-mdc-table {
  background-color: transparent !important;
  box-shadow: none;
  .mat-mdc-header-cell {
    &:first-child {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
    &:last-child {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
}

mat-icon#manage-icon,
mat-icon#request-icon {
  margin: 6px !important;
}

//add-employee, edit-user

.bottom {
  margin: 0;
  background-color: var(--main-color-text);
}

.elements.top.left,
.elements.top.right,
.add-employee-content.bottom,
.edit-user-content.bottom {
  border-radius: 10px;
  border: 1px solid var(--border-app-element);
  padding: 20px 20px 20px 20px;
}

.add-employee-content.top {
  margin: 0 0 16px 0;
}

.elements-title {
  width: auto;
}

.title-line1,
.title-line2 {
  margin: 0 0 10px 0;
}

.title-line1 {
  font-size: 22px;
  font-weight: 600;
}

.title-line2 {
  font-size: 14px;
}

.elements-content {
  align-self: center;
  align-content: space-around;
  justify-items: stretch;
}

.picture,
.button,
.info {
  text-align: center;
}

img#picture-avatar {
  border-radius: 50%;
}

.elements.top.left {
  display: grid;
  grid-template-rows: 1fr 2fr;
  background-color: var(--main-color-text);
}

.button {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 0 10px 0;
}

button#button-remove {
  border-radius: 10px;
}

button#button-remove {
  border-color: var(--negative-element);
  color: var(--negative-element);
  background-color: var(--negative-border);
  width: 126px;
}

.button-update {
  padding: 0 10px 0 0;
  text-align: right;
}

.button-remove {
  padding: 0 0 0 10px;
  text-align: left;
}

.info {
  font-size: 12px;
}
.mat-mdc-form-field-bottom-align::before {
  content: none;
}

.input-full-width {
  width: 100%;
}

.info-personal {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.info-personal-left {
  margin: 0 10px 0 0;
}

.info-personal-right {
  margin: 0 0 0 10px;
}

button#language-button {
  border: 1px solid var(--border-app-element);
  color: var(--main-color);
  border-radius: 10px 10px;
}

.mat-mdc-snack-bar-container {
  &.green-snackbar {
    --mdc-snackbar-container-color: var(--positive-element) !important;
    --mat-mdc-snack-bar-button-color: var(--main-color-text);
    --mdc-snackbar-supporting-text-color: var(--main-color-text);
  }
}

.mat-mdc-snack-bar-container {
  &.red-snackbar {
    --mdc-snackbar-container-color: var(--negative-element) !important;
    --mat-mdc-snack-bar-button-color: var(--main-color-text);
    --mdc-snackbar-supporting-text-color: var(--main-color-text);
  }
}

.mat-mdc-form-field-error {
  font-size: 12px;
}

.mat-mdc-unelevated-button:not(:disabled) {
  background-color: var(--button-app-color) !important;
}
