<div class="navbar-top">
  <div class="navbar left">
    <app-input></app-input>
  </div>
  <div class="navbar right">
    <div class="right-icon">
      <!--      TODO: przerobić na mat-icon-button-->
      <mat-icon class="material-symbols-outlined" id="notification_active-icon">
        notifications_active
      </mat-icon>
    </div>
    <div class="right-label">
      <label>
        <select
          #langSelect
          (change)="translate.use(langSelect.value)"
          id="language-select"
        >
          <option
            *ngFor="let lang of translate.getLangs()"
            [value]="lang"
            [selected]="lang === translate.currentLang"
          >
            {{ lang }}
          </option>
        </select>
      </label>
    </div>
  </div>
</div>
