<div class="employee">
  <div class="employee-content title">
    <div class="employee-content title left">
      <div class="employee-icon">
        <mat-icon class="material-symbols-outlined" id="emp-icon"
          >person_apron</mat-icon
        >
      </div>
      <div class="employee-title">
        <div class="line1">{{ "EMPLOYEE.TITLE" | translate }}</div>
        <div class="line2">{{ "EMPLOYEE.SUBTITLE" | translate }}</div>
      </div>
    </div>
    <div class="employee-content title right">
      <div class="button-add">
        <!--        TODO dodać wielkośc- szerokosc przycisku pod polski tytuł-->
        <button
          mat-flat-button
          routerLink="/employee/new"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          <mat-icon>add</mat-icon>
          {{ "EMPLOYEE.ADD_EMPLOYEE" | translate }}
        </button>
      </div>
    </div>
  </div>
  <div class="employee-content list">
    <div class="list-tabs">
      <mat-tab-group mat-stretch-tabs="false">
        <!--TODO: dostosowac szerokosc label dla polskich nazw-->
        <mat-tab [label]="'EMPLOYEE.MANAGE_EMPLOYEE' | translate">
          <div class="list-toolbar">
            <div class="list-title">
              {{ "EMPLOYEE.MANAGE_EMPLOYEE" | translate }}
            </div>
            <div class="list-additional-elem">
              <app-input></app-input>
              <div class="button-filter">
                <!--                TODO  dodać wielkośc- szerokosc przycisku pod polski tytuł-->
                <button mat-stroked-button id="button-filter1">
                  <mat-icon>filter_alt</mat-icon>
                  {{ "EMPLOYEE.FILTER" | translate }}
                </button>
              </div>
            </div>
          </div>
          <div class="list-content">
            <app-manage-employee></app-manage-employee>
          </div>
        </mat-tab>
        <!--TODO: dostosowac szerokosc label dla polskich nazw-->
        <mat-tab [label]="'EMPLOYEE.REQUEST_TIME_OFF' | translate">
          <div class="list-toolbar">
            <div class="list-title">
              {{ "EMPLOYEE.REQUEST_TIME_OFF" | translate }}
            </div>
            <div class="list-additional-elem">
              <app-input></app-input>
              <div class="button-filter">
                <!--                TODO  dodać wielkośc- szerokosc przycisku pod polski tytuł-->
                <button mat-stroked-button id="button-filter2">
                  <mat-icon>filter_alt</mat-icon>
                  {{ "EMPLOYEE.FILTER" | translate }}
                </button>
              </div>
            </div>
          </div>
          <div class="list-content">
            <app-request-time-off></app-request-time-off>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
