<div class="title-page">{{ "LOGIN.TITLE" | translate }}</div>
<div class="change-language">
  <label>
    <select #langSelect (change)="translate.use(langSelect.value)">
      <option
        *ngFor="let lang of translate.getLangs()"
        [value]="lang"
        [selected]="lang === translate.currentLang"
      >
        {{ lang }}
      </option>
    </select>
  </label>
</div>

<div class="login-main-part">
  <div class="login-frame">
    <div class="login-part top">
      <div class="title">{{ "LOGIN.TITLE_LOGIN" | translate }}</div>
    </div>
    <div class="login-part middle">
      <!--      TODO : change input to input password - jest w dodawaniu pracownika-->
      <input-error />
    </div>
    <div class="login-part bottom">
      <div class="login-button-row">
        <button mat-stroked-button>
          {{ "LOGIN.BUTTON.LOGIN" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
