<div class="title-page">Welcome to HR!</div>

<div class="login-main-part">
  <div class="login-frame">
    <div class="login-part top">
      <div class="title">Login</div>
    </div>
    <div class="login-part middle">
      <!--      TODO : change input to input password - jest w dodawaniu pracownika-->
      <input-error />
    </div>
    <div class="login-part bottom">
      <div class="login-button-row">
        <button mat-stroked-button>Log in</button>
      </div>
    </div>
  </div>
</div>
