app-login {
  .title-page {
    padding: 30px 0px 0px 0px;
    text-align: center;
    font-size: 20px;
  }

  .login-main-part {
    padding: 10vh 50px 50px 35%;

    .login-frame {
      margin: 10px;
      padding: 30px;
      text-align: center;
      color: var(--main-color);
      border: black solid 1px;
      border-radius: 20px 20px;
      width: 40%;

      .login-part {
        margin: 10px;

        .login-button-row {
          width: 100%;
        }
      }
    }
  }

  .login-part.top {
    padding: 0px 0px 20px 10px;
  }

  .mdc-button {
    width: 100%;
    background-color: var(--button-color);
  }

  .mat-mdc-outlined-button:not(:disabled) {
    color: var(--button-text);
  }

}
