<div class="list-toolbar">
  <div class="list-title">Zarządzaj zadaniami</div>
</div>

<div class="dashboard-task-content">
  <div class="task-table">
    <div class="task-table-title">Oczekujące</div>
    <div class="task-table-content new">
      <ng-container *ngFor="let task of tasksMap.get('NEW')">
        {{ task.name }}
        <br />
        {{ task.startDate | date: "YYYY-MM-dd" }}
      </ng-container>
      <div class="button-action">
        <button mat-mini-fab id="button-edit">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab id="button-delete">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="task-table">
    <div class="task-table-title">W toku</div>
    <div class="task-table-content workInProgress">
      <ng-container *ngFor="let task of tasksMap.get('WORK_IN_PROGRESS')">
        {{ task.name }}
        <br />
        {{ task.startDate | date: "YYYY-MM-dd" }}
      </ng-container>
      <div class="button-action">
        <button mat-mini-fab id="button-edit">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab id="button-delete">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="task-table">
    <div class="task-table-title">Skończone</div>
    <div class="task-table-content done">
      <ng-container *ngFor="let task of tasksMap.get('DONE')">
        {{ task.name }}
      </ng-container>
    </div>
  </div>
</div>
