<div class="list-toolbar">
  <div class="list-title">Zarządzaj zadaniami</div>
</div>

<div class="dashboard-task-content">
  <div class="task-table">
    <div class="task-table-title">Oczekujące</div>
    <ng-container *ngFor="let task of tasksMap.get('NEW')">
      <div class="task-table-content new">
        {{ task.name }}
        <br />
        {{ task.startDate | date: "YYYY-MM-dd" }}
        <div class="button-action">
          <button
            mat-mini-fab
            id="button-edit"
            (click)="openDialogEdit(task.id)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-mini-fab
            id="button-delete"
            (click)="openDialog(this.id, task, $event)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="task-table">
    <div class="task-table-title">W toku</div>
    <ng-container *ngFor="let task of tasksMap.get('WORK_IN_PROGRESS')">
      <div class="task-table-content workInProgress">
        {{ task.name }}
        <br />
        {{ task.startDate | date: "YYYY-MM-dd" }}
        <div class="button-action">
          <button
            mat-mini-fab
            id="button-edit"
            (click)="openDialogEdit(task.id)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-mini-fab
            id="button-delete"
            (click)="openDialog(this.id, task, $event)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="task-table">
    <div class="task-table-title">Skończone</div>
    <ng-container *ngFor="let task of tasksMap.get('DONE')">
      <div class="task-table-content done">
        {{ task.name }}
        <br />
        {{ task.startDate | date: "YYYY-MM-dd" }}
        <div class="button-action">
          <button
            mat-mini-fab
            id="button-edit"
            (click)="openDialogEdit(task.id)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-mini-fab
            id="button-delete"
            (click)="openDialog(this.id, task, $event)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
